<div class="card-columns m-4 animated fadeIn">
  <div *ngFor="let item of items" class="card">
    <img (click)="showItem(item)"
      [src]="item.images | noimage"
      class="card-img-top puntero"
      alt="Card Image Top"
    />
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">
        <span (click)="showArtist(artist)"
          *ngFor="let artist of item.artists"
          class="badge badge-pill badge-primary puntero"
          >{{ artist.name }}</span
        >
      </p>
    </div>
  </div>
</div>
